<h2>Welcome to dog hikes where you can find hikes for you and your furry friend to enjoy.</h2>


<form action="/login" method="post">
  <div class="form-group">
    <label>Email</label>
    <input name="email" type="email" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input name="password" type="password" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-default">Login</button>
  </div>
</form>

<br>

<h4>New to dog hikes?</h4>

<form action="/signup" method="get">
  <button class="btn btn-default">Sign up!</button>
</form>

