<h2>Welcome to dog hikes where you can find hikes for you and your furry friend to enjoy.</h2>


<form action="/login" method="post">
  <label>Email</label>
  <input name="email" type="email">
  <br>
  <label>Password</label>
  <input name="password" type="password">
  <br>
  <button>Login</button>
</form>

<br>

<p>New to dog hikes?</p>

<form action="/signup" method="get">
  <button>Sign up!</button>
</form>

