<h1>Sign up!</h1>

<form action="/signup" method="post">
  <label>Name</label>
  <input name="name" type="text">
  <br>
  <label>Email</label>
  <input name="email" type="email">
  <br>
  <label>Password</label>
  <input name="password" type="password">
  <br>
  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password">
  <br>
  <button>Sign Up</button>
</form>
