// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #2EFEF7;
  text-align: center;
  color: #2E64FE;
}

.frontcolorbox {
  background-color: #D8D8D8;
  font-size: 18px;
}
